@import "../../../../asset/style/color.scss";
.detailed-review {
    .review-body {
        
        .input-area {
            align-items: center;
            justify-content: space-between;
            textarea {
                width: 80%;
            }
            button {
                border-radius: 10px;
                background-color: $main-color;
                padding: 10px 20px;
                border: none;
                color: white;
            }
        }
    }
}
